duckdb==1.4.0
joblib==1.5.2
loguru>=0.7.0
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
PyYAML==6.0.3
python-dotenv>=1.0.0
scikit-learn==1.7.2
seaborn==0.13.2
tqdm==4.67.1
typer[all]>=0.12.3
xgboost==3.0.5
pyarrow>=10.0.0
